body {
  font-size: 0.90em;
  line-height: 1.6;
  color: #333;
  background: #FFF;
  font-family: Tahoma, "Geneva CE", lucida, sans-serif;
  margin: 0; }

#ajax-spinner {
  display: block;
  padding: 13px;
  background: white url("../images/spinner.gif") no-repeat 50% 50%;
  background-color: black;
  opacity: .5;
  font-size: 0;
  z-index: 123456;
  position: fixed;
  top: 50%;
  left: 50%; }

.form-errors {
  margin: 15px 0;
  padding: 0; }

.flash {
  margin-bottom: 15px; }
  .flash.success, .flash.warning, .flash.error {
    padding: 1em 3.5em; }

.flash {
  padding: 1em;
  color: #716000;
  background: #FFF9D7;
  border: 1px solid #E2C822; }

.success {
  background-image: url("../images/success.png");
  background-repeat: no-repeat;
  background-position: 1em 50%;
  background-color: #dff0d8;
  border: 1px solid #CAE0C1;
  color: #468847; }

.error {
  background-image: url("../images/error.png");
  background-repeat: no-repeat;
  background-position: 1em 50%;
  background-color: #EACBCB;
  border: 1px solid #DCA7A7;
  color: #A8433A; }

.warning,
.form-error {
  background-image: url("../images/warning.png");
  background-repeat: no-repeat;
  background-position: 1em 48%;
  background-color: #ffebcd;
  border: 1px solid #f6cb8a;
  color: #cd7b00; }

.form-error {
  list-style-type: none;
  padding: 1em 3.5em;
  margin-bottom: 5px; }

a {
  color: #006699; }

a:hover {
  text-decoration: none; }

a[href^="#error:"] {
  background: red;
  color: white; }

table {
  border-collapse: collapse; }

th, td {
  padding: 6px; }

img {
  border: 0; }

form th {
  text-align: left;
  /*font-weight: normal;*/ }

input[readonly="readonly"] {
  background-color: #F6F6F6;
  border: 1px solid #A9A9A9; }

html.js .jshidden {
  display: none; }

.btn-red, .btn-delete, .btn-green, .btn-blue, .btn-brown, .btn-copy, .btn-primary, .btn-violet {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 6px 12px;
  text-decoration: none;
  color: #FFF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

.btn-large {
  padding: 12px 18px; }

.btn-small {
  padding: 3px 9px; }

.btn-red {
  background-color: #E74C3C; }
  .btn-red:hover {
    background-color: #C0392B; }

.btn-delete {
  background-color: #363b45; }
  .btn-delete:hover {
    background-color: #24272e; }

.btn-green {
  background-color: #2ECC71; }
  .btn-green:hover {
    background-color: #27AE60; }

.btn-blue {
  background-color: #3498DB; }
  .btn-blue:hover {
    background-color: #2980B9; }

.btn-brown {
  background-color: #9E6B52; }
  .btn-brown:hover {
    background-color: #7c5441; }

.btn-copy {
  background-color: #1ABC9C; }
  .btn-copy:hover {
    background-color: #16A085; }

.btn-primary {
  color: #FFF;
  background-color: #5bc0de; }
  .btn-primary:hover {
    background-color: #39b3d7; }

.btn-violet {
  color: #FFF;
  background-color: #9e50a3; }
  .btn-violet:hover {
    background-color: #834388; }

.wide-button {
  width: 100%; }

body {
  background-color: #203047; }

#container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20px; }

#content {
  float: right;
  position: relative;
  right: 50%;
  border: 0px solid red; }

.wrapperBox {
  clear: left;
  float: left;
  position: relative;
  left: 50%; }

.box {
  background-color: #5d7699;
  padding: 30px;
  float: left; }

.links {
  margin-top: 15px;
  margin-bottom: 0; }
  .links a {
    color: #FFF;
    margin-right: 15px; }

table th {
  text-align: right; }

input {
  padding: 5px; }

h1 {
  font-size: 1.8em;
  color: #FFF; }

ul {
  margin: 0;
  padding: 0; }

.hint {
  width: 300px;
  background-color: #F1F1D4;
  border: 1px solid #d4d499;
  /*-moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;*/
  padding: 15px 15px 5px 15px;
  margin: 0 0 0 15px;
  float: left; }

.hint strong {
  color: #CC3300; }

.hint ul {
  margin: 0;
  margin-left: 15px;
  padding: 0; }

.hint li {
  margin-bottom: 10px; }

table td {
  padding: 0; }

#password-save-button,
#invitation-process-button {
  width: 100%; }

label {
  display: block;
  color: #d1d6e7; }

input {
  width: 225px;
  padding: 10px;
  margin-bottom: 15px;
  color: #454545;
  font-size: 1.3em; }

input[type="submit"] {
  color: #000;
  width: auto;
  margin-bottom: 0; }

input[type="checkbox"] {
  width: auto;
  margin-top: 5px;
  margin-right: 8px;
  vertical-align: top; }

input[readonly="readonly"] {
  background-color: #E2E2E2; }

/*# sourceMappingURL=user_front.css.map */
