<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

{form deleteListingForm}
{customFormErrors}

<div class="box box-red">
<div class="listing-removal-info">
<a href="{plink Listing:detail, id => $listing->getId(), backlink => null}"><h3>
    {$listing->period|listingMonthYear} |
        {if $listing->description}
            {$listing->description}
        {else}
            Bez popisu
        {/if}
</h3></a>

{if $workedDays > 0}
<p>Počet záznamů ve výčetce: {$workedDays}</p>
{/if}
</div>

<p>Skutečně si přejete <b>odstranit</b> vámi zvolenou výčetku?</p>

<table>
        <tr><th>{label check /}</th></tr>
        <tr><td>{input check}</td></tr>
        <tr><td>{input delete} {input cancel}</td></tr>
</table>
</div>
{/form deleteListingForm}

<script>
$(function () {
    var deleteButton = $('#listing-remove-button');
    var checkInput = $('#listing-check-input');

    deleteButton.attr('disabled', true);

    checkInput.keyup(function () {
        var self = $(this);
        if (self.val() == 'smazat') {
            deleteButton.attr('disabled', false);
        } else {
            deleteButton.attr('disabled', true);
        }
    });

});
</script>