<div class="left-side">
{form resultPdf}
{customFormErrors}

<table class="table t-classic">
<caption>{control listingDescription}</caption>
    {control resultPdf-userSettings}
    <tr><td>{input reset}</td><td>{input generatePdf}</td></tr>
</table>

{control resultPdf-listingsSettings}

{/form}
</div>