<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTP_HOST} ^www\.
	#RewriteRule ^(.*)$ http://vycetky.eu/$0 [R=301,NE,L]
	#RewriteCond %{HTTP_HOST} ^vycetky\.eu$
	RewriteRule ^(.*)$ vycetky\.l/$0 [R=301,NE,L]
    RewriteCond %{HTTP_HOST} ^vycetky\.l$
	RewriteRule (.*) www/$1 [L]
</IfModule>