<div class="box box-messages">

{snippet all}
<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
{if $messages}

{form messagesActions}
{control paginator}

{input delete}
<table class="table t-classic overview-message-table">

<caption>Celkový počet zpráv: {$numberOfMessages}</caption>

<thead>
<tr>
    <th>{input checkAll}</th>
    {block userTypeLabel}{/block}
    {block messageTimeLabel}{/block}
    <th>Předmět zprávy</th>
    <th colspan="2">Akce</th>
</tr>
</thead>
{foreach $messages as $message}
<tr n:class="($message->isReceived() and $message->isSystemMessage()) ? m-system-message : ($iterator->isOdd() ? null : m-odd)">
    <td>
        <input type="checkbox" name="msg[]"
               value="{$message->messageID}"
               class="itemToCheck">
    </td>
    {block username}{/block}
    <td>{$message->sent|date:'j.n.Y v H:i'}</td>
    <td>
        <a href="{plink MailBox:message, 'id' => $message->messageID,
                                         'type' => $message->getMessageType()}"
           title="{$message->subject}">
            {$message->subject|truncate:60}
        </a>
    </td>
    <td><a href="{plink MailBox:message, 'id' => $message->messageID,
                                         'type' => $message->getMessageType()}">Prohlédnout</a></td>
    <td><a href="{link deleteMessage!, 'id' => $message->messageID}"
           class="ajax item">Odstranit</a></td>
</tr>
{/foreach}
</table>
{/form messagesActions}

<script>
$(function (){
    checkAllFunc();
});
</script>

{else}
    Žádné zprávy k zobrazení
{/if}
{/snippet}
</div>