parameters:
	mainEmail: 'admin@email.em'

	backup:
		database:
			password: password

	database:
		host: 127.0.0.1
		driver: mysql
		username: root
		password: asqw
		dbname: listings

	company:
		name: 'Company name'

	emails:
		system: 'system@email.em'
		admin: %mainEmail%


doctrine:
	host: %database.host%
	database: %database.driver%
	user: %database.username%
	password: %database.password%
	dbname: %database.dbname%