#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

includes:
	- parameters.neon
	- services.neon
	- services/front_presenters.neon
	- services/user_presenters.neon
	- services/subscribers.neon
	- services/providers.neon
	- services/factories.neon
	- services/readers.neon
	- services/writers.neon
	- services/managers.neon
	- services/listing_pdf_generation.neon
	- services/facades.neon

php:
	date.timezone: Europe/Prague



application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

	debugger:
		email: %mainEmail%
		bar:
			- Nette\Bridges\DITracy\ContainerPanel
			- Nette\Bridges\HttpTracy\SessionPanel

session:
	expiration: 1 month
	savePath: %appDir%/../temp/sessions
	name: 'listings'



latte:
	macros:
		- Nextras\Latte\Macros\RedefineMacro
		- blitzik\Macros\FormsMacro



extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	monolog: Kdyby\Monolog\DI\MonologExtension



doctrine:
	charset: utf8
	defaultRepositoryClassName: Kdyby\Doctrine\EntityRepository

	metadata:
		App\Model\Domain\Entities: %appDir%/model/Domain

	dql:
		string:
			'COLLATE': App\Doctrine\MySQL\Collate

		datetime:
			'TIME_TO_SEC': App\Doctrine\MySQL\TimeToSec
			'SEC_TO_TIME': App\Doctrine\MySQL\SecToTime
			'ADDTIME': App\Doctrine\MySQL\AddTime
			'SUBTIME': App\Doctrine\MySQL\SubTime

	types:
		'invoicetime': App\Doctrine\Types\InvoiceTimeType



monolog:
	name: listings
	handlers:
		main: Monolog\Handler\FingersCrossedHandler(
			Monolog\Handler\GroupHandler([
				Monolog\Handler\StreamHandler(%appDir%/../log/listings.log, Monolog\Logger::DEBUG),
				Monolog\Handler\BufferHandler(
					Monolog\Handler\NativeMailerHandler(
						%emails.admin%,
						'An Error Occured!',
						%emails.system%,
						Monolog\Logger::ERROR
					)
				),
			])
			Monolog\Logger::ERROR
		)



decorator:
	App\FrontModule\Presenters\SecurityPresenter:
		setup:
			- setAuthorizator(@authorizator)

	App\Model\Components\BaseComponent:
		setup:
			- setAuthorizator(@authorizator)