parameters:
	mainEmail: 'admin@email.em'

	backup:
		database:
			password: heslo_pro_zalohu_databaze

	database:
		host: 127.0.0.1
		username: root
		password: asqw
		dbname: listings

	company:
		name: 'Company name'

	emails:
		system: 'system@email.em'
		admin: %mainEmail%

	pdf:
		author: the_one_who_generates_the_PDFs
		storage_path: %wwwDir%/listings_pdfs


doctrine:
	host: %database.host%
	user: %database.username%
	password: %database.password%
	dbname: %database.dbname%