services:

	security.userStorage: App\Model\Authentication\UserStorage

	userAuthenticator: App\Model\Authentication\UserAuthenticator

	authorizatorFactory: App\Model\Authorization\AuthorizatorFactory
	authorizator: @authorizatorFactory::create

	nette.latteFactory:
		setup:
			- addFilter(null, [Filters\FilterLoader(), 'loader'])

	invitationHandler:
		class: App\Model\Services\InvitationHandler

	userSystemCreator:
		class: App\Model\Services\Users\UserSystemCreator

	# Service layers
	localitiesService: App\Model\Services\LocalitiesService
	usersService: App\Model\Services\UsersService
	itemsService: App\Model\Services\ItemsService

	#Profile
	emailNotifier: App\Model\Notifications\EmailNotifier

	invitationsSender:
		class: App\Model\Services\InvitationsSender
		setup:
			- setSystemEmail(%emails.system%)

	sharedListingNotification: App\Model\Notifications\SharedListingNotification

	# Database Backup
	databaseBackup:
		class: DatabaseBackup(%database%)

	# Router
	- App\RouterFactory
	router: @App\RouterFactory::createRouter