<nav class="listing-sub-nav">
<ul>
<li>
    <a href="{plink Listing:pdfGeneration, 'id' => $listing->id}"
       class="createPdf"
       title="Vygeneruje PDF dokument s výčetkou">Generovat PDF</a>
</li>

<li>
    <a href="{plink Listing:edit,
              'id' => $listing->id,
              'backlink' => $presenter->storeRequest()}"
              n:class="$presenter->isLinkCurrent(':Front:Listing:edit') ? selected">Upravit výčetku</a>
</li>

<li>
   <a href="{plink Listing:copy, 'id' => $listing->id}"
      title="Vytvoří totožnou kopii výčetky"
      n:class="$presenter->isLinkCurrent(':Front:Listing:copy') ? selected">Vytvořit kopii</a>
</li>

<li>
    <a href="{plink Listing:massItemsChange,
              'id' => $listing->id}"
              n:class="$presenter->isLinkCurrent(':Front:Listing:massItemsChange') ? selected">Hromadně změnit čas</a>
</li>

<li>
    <a href="{plink Listing:share, 'id' => $listing->id}"
       n:class="$presenter->isLinkCurrent(':Front:Listing:share') ? selected">Odeslat výčetku</a>
</li>

<li>
    <a href="{plink Merge:search, 'id' => $listing->id}"
       n:class="$presenter->isLinkCurrent(':Front:Merge:search') ? selected">Spojit výčetku</a>
</li>

<li>
    <a href="{plink Listing:remove,
              'id' => $listing->id,
              'backlink' => $presenter->storeRequest()}" {* TODO neoznaci se jako aktivni v menu, kvuli storeRequest *}
              n:class="$presenter->isLinkCurrent(':Front:Listing:remove') ? selected">Odstranit výčetku</a>
</li>
</ul>
</nav>