<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

{form sendKeyForm}
{customFormErrors}

<div class="invitation-box">
    <table class="invitationTable">
        <tr><th>{label email /}</th></tr>
        <tr><td>{input email}</td></tr>
        <tr><td>{input send}</td></tr>
    </table>
</div>
{/form sendKeyForm}