
<table class='table t-recipients'>
<tr><th>{count($recipients) > 1 ? 'Příjemci' : 'Příjemce'}</th></tr>
{foreach $recipients as $recipient}
<tr><td>{$recipient['username']}</td></tr>
{/foreach}
</table>