
{if $hasInvitations}
    <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
    {control invitationsDatagrid}
{else}
    <p>Nemáte žádné aktivní pozvánky.
    <a href="{plink Profile:sendInvitation}">Chcete vytvořit novou pozvánku?</a></p>
{/if}