{var $message = $messageEntity->getMessage()}
{var $isSentMessage = $messageEntity->isSentMessage()}

{if $isSentMessage}
    {control recipientsList}
{/if}

<table class="table t-message">
{if !$isSentMessage}
<tr>
    <th>Odesílatel</th>
    <td>
        {include #username message => $message}
        <a href="{plink MailBox:newMessage responseRecipient => $message->getAuthor()->getId()}"
           n:if="$message->getAuthor() !== null and !$message->isSystemMessage() ">[ Odpovědět ]</a>
    </td>
</tr>
{else}
<tr n:if="$message->getAuthor() !== null and $message->isSentByAuthorRole()">
    <th>V roli</th>
    <td>{$message->getAuthor()->getRoleId()|upper}</td>
</tr>
{/if}


<tr><th>{$isSentMessage ? 'Odesláno' : 'Přijato'}</th>
    <td>{$message->sent|date:'j.n.Y v H:i'}</td></tr>

<tr><th>Předmět</th><td>{$message->subject}</td></tr>
<tr><th>Text zprávy</th><td>{!$message->text|texy}</td></tr>
</table>

{define username}

{if $message->isSystemMessage() === true}
    <b>SYSTÉM</b>
{elseif $message->isSentByAuthorRole() === true}
    <b>{$message->getAuthorRole()|capitalize}</b> ({$message->getAuthorName()})
{else}
   {$message->getAuthorName()}
{/if}

{/define}