{block content}

{include 'navigation.latte'}

{define messageType}
    {if $message->getMessage()->author->getId() == $user->getIdentity()->getId()}
        Odeslaná
    {else}
        Přijatá
    {/if}
{/define}

<h2 n:block=title>{include messageType} zpráva</h2>

{control messageDetail}


{/block}