<div class="sub-navigation">
    <ul>
        <li><a href="{link MailBox:receivedUnread}" n:class="$presenter->linkCurrent ? selected">Nové zprávy</a></li>
        <li><a href="{link MailBox:receivedRead}" n:class="$presenter->linkCurrent ? selected">Přečtené zprávy</a></li>
        <li><a href="{link MailBox:sent}" n:class="$presenter->linkCurrent ? selected">Odeslané zprávy</a></li>
        <li><a href="{link MailBox:newMessage}" n:class="$presenter->linkCurrent ? selected">Napsat novou zprávu</a></li>
    </ul>
</div>