<div class="sub-navigation">
    <ul>
        <li><a href="{link MailBox:receivedUnread}"{ifCurrent MailBox:receivedUnread} class="selected"{/ifCurrent}>Nové zprávy</a></li>
        <li><a href="{link MailBox:receivedRead}"{ifCurrent MailBox:receivedRead} class="selected"{/ifCurrent}>Přečtené zprávy</a></li>
        <li><a href="{link MailBox:sent}"{ifCurrent MailBox:sent} class="selected"{/ifCurrent}>Odeslané zprávy</a></li>
        <li><a href="{link MailBox:newMessage}"{ifCurrent MailBox:newMessage} class="selected"{/ifCurrent}>Napsat novou zprávu</a></li>
    </ul>
</div>