{layout 'layout.latte'}

{block account-content}

<h2 n:block="title">Změna hesla</h2>

<p>Pokud jste zapomněli své heslo,
   tak si ho <a href="{link :User:Password:reset}">můžete obnovit.</a></p>

{control password}

{/block}