{layout 'layout.latte'}

{block scripts}
    {include parent}
    <script src="{$basePath}/js/placeholders.js"></script>
    {*}<script src="{$basePath}/js/passwordValidation.js"></script>{*}
{/block}

{block account-content}

<h2 n:block="title">Změna hesla</h2>

<p>Pokud jste zapomněli své heslo,
   tak si ho <a href="{link :User:Password:reset}">můžete obnovit.</a></p>

{control password}

{/block}