hola

{form listingRemoval}
{*}
<table>
    <tr><th>{label listing /}</th><td>{input listing}</td></tr>
    <tr n:if="$user->isAllowed('Front:Test', 'fooComponent-listingRemoval-submit!')"><td></td><td>{input send} {input cancel}</td></tr>
</table>
{*}

{/form}