{block content}

<h2 n:block="title">Hromadné generování PDF výčetek</h2>

<p>Vygenerování PDF dokumentů výčetek může trvat pár vteřin v závislosti na množství výčetek.</p>
{control annualPDFGeneration}

{/block}