{block content}

{control listingActionsMenu}

<h2 n:block="title">Kopie výčetky</h2>

{control simpleCopyForm}

<div class="box box-hint">
    <h3>Kopie výčetky</h3>
    <p>Vytvoří se kopie výčetky, která bude mít identické
       parametry, jako výčetka, ze které se vychází. Tzn.
       stejný měsíc a stejný popis. Vytvoří se taktéž kopie
       jednotlivých položek, které bude možné poté upravovat
       stejně jako parametry nově vytvořené výčetky.</p>
</div>

{/block}