{block scripts}
{include parent}
<script src="{$basePath}/js/mins/item.min.js"></script>
{/block}

{block content}

{control listingActionsMenu}

<h2 n:block="title">Hromadná změna položek výčetky</h2>

{control massItemChangeTable}

{/block}