{block scripts}
<script src="{$basePath}/js/placeholders.js"></script>
{/block}

{block content}

{control listingActionsMenu}

<h2 n:block="title">Sdílení výčetky</h2>

{control listingTableForSharing}

{/block}