{block content}

	<h1 n:block="title">Chyba na serveru</h1>

	<p>Omlouváme se! Server se dostal do stavu, kdy není schopen splnit
	   Váš požadavek. Zkuste akci opakovat později.</p>

	<p><small>Chyba 500</small></p>
