{define items-table-actionsLabel}
<th colspan="3">Akce</th>
{/define}

{define items-table-actions}
<td class="w30">
{if !$item->isFilling()}
    {if $day != $numberOfDaysInMonth}
        <a href="{$control->parent->link('copyItem!', ['day'=>$day])}"
           class="ajax btn-copy padding-6" title="Kopírovat řádek o stupeň níž">
           <i class="fa fa-fw fa-caret-down"></i><span class="hide">Kopírovat dolů</span></a>
    {/if}
{/if}
</td>

<td class="w30"><a href="{plink Item:edit, 'id'=>$params['listingID'], 'day'=>$day}"
    class="btn-blue" title="Upravit řádek výčetky">Upravit</a>
</td>

<td class="w30">
{if !$item->isFilling()}
    <a href="{$control->parent->link('removeItem!', ['day'=>$day])}"
       class="ajax btn-red padding-6" title="Nastavit řádek do defaultních hodnot">
       <i class="fa fa-fw fa-times"></i><span class="hide">Smazat</span></a>
{/if}
</td>
{/define}