{define col-year}
<td>
    {$row->year}
</td>
{/define}

{define col-month}
<td>
    {$row->month|monthNameByNumber}
</td>
{/define}


{define col-description}
<td>
    <a href="{plink Listing:detail, 'id' => $row->id}">
    {if $row->description}{$row->description}{else}Bez popisu{/if}</a>
</td>
{/define}


{define col-total_worked_hours}
<td>
    {(int)$row->total_worked_hours|toTimeWithComma:true}
</td>
{/define}


{define row-actions}
{? $currentDate = \DateTime::createFromFormat('!Y-m', date('Y-m'))}
{? $rowDate = \DateTime::createFromFormat('!Y-m', $row->year.'-'.$row->month)}

{if $rowDate != $currentDate}
    <a href="{plink Listing:remove, 'id'=>$row->id,
                                    'backlink'=>$presenter->storeRequest()}"
       class="btn-red btn-small" title="Odstranit výčetku">Odstranit</a>

    <a href="{plink Listing:copy, 'id'=>$row->id}"
       class="btn-copy btn-small" title="Vytvořit kopii výčetky">Kopie</a>
{/if}


    <a href="{plink Listing:edit, 'id'=>$row->id}"
       class="btn-blue btn-small" title="Upravit výčetku">Upravit</a>



{if $rowDate == $currentDate}
    <a href="{plink Item:edit, 'id'=>$row->id,
                               'day'=>date('j')}"
       class="btn-violet btn-small" title="Upravit výčetku">Nastavit aktuální den</a>

{/if}
{/define}

{redefine table-open-tag}
    <table class="table t-classic t-overview">
{/redefine}