{block scripts}
{include parent}
<script src="{$basePath}/assets/js/item_setting.min.js"></script>
{/block}


{block title}Úprava řádku výčetky{/block}




{block content}
<h2>Úprava řádku výčetky</h2>

{control itemForm}

{/block}