{block head}
{include parent}
<link rel="stylesheet" media="screen" href="{$basePath}/assets/css/item.min.css">
{/block}


{block title}Úprava řádku výčetky{/block}

{block scripts}
    {include parent}
    <script src="{$basePath}/assets/js/item.min.js"></script>
{/block}


{block content}
<h2>Úprava řádku výčetky</h2>

{control itemForm}

{/block}