{layout 'layout.latte'}

{block profile-content}

<h2 n:block="title">Správa ignorovaných uživatelů</h2>

{control usersList}

<div class="box-hint">
    <h3>Zrušení blokace uživatele</h3>

    <p>Zřušením blokace uživatele dovolíte danému
       uživateli, aby Vám mohl zasílat zprávy, výčetky apod.</p>
</div>

{/block}