{layout 'layout.latte'}

{block title}Správa pozvánek do systému{/block}

{block profile-content}

<h2>Správa pozvánek do systému <small>[zobrazeny pouze aktivní pozvánky]</small></h2>

{control invitationsManager}

{/block}