{layout 'layout.latte'}

{block title}Vytvoření nové pozvánky{/block}
{block profile-content}

<h2>Vytvoření nové pozvánky</h2>

{control sendInvitationForm}

<div class="box-hint">
<h4>Princip pozvánek</h4>
<p>Registrace do tohoto systému jsou omezeny
   registračními pozvánkami. Uživatel, který chce
   využívat tuto službu a nemá zřízený účet,
   musí požádat člena, který tuto službu využívá,
   aby mu poslal na email pozvánku na registraci
   do systému.</p>
</div>
{/block}