<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Obnova hesla</title>
</head>
<body>

<div id="container">
    <h1>Obnova zapomenutého hesla</h1>

    <p>Dobrý den,<br>
       někdo se pokouší o <strong>změnu hesla</strong> na Vašem účtu v aplikaci
       {$applicationUrl}. Pokud jste si vědomi této žádosti o změnu hesla,
       tak pokračujte kliknutím na následující odkaz:</p>

    {var $linkToReset = $link->link('User:Password:change', ['email' => $email, 'token' => $token])}
    <p style="padding: 8px; border: 1px solid #ccc"><a href="{$linkToReset}">{$linkToReset}</a></p>

    <p>Pokud jste si tuto změnu nevyžádali Vy, tento E-mail prosím ignorujte.</p>
    <p>S přáním pěkného dne,<br>
       Aleš Tichava, Administrátor aplikace</p>

</div>

</body>
</html>