services:

	invitationsFacade: App\Model\Facades\InvitationsFacade
	localitiesFacade: App\Model\Facades\LocalitiesFacade
	listingsFacade: App\Model\Facades\ListingsFacade
	messagesFacade: App\Model\Facades\MessagesFacade
	itemsFacade: App\Model\Facades\ItemsFacade
	usersFacade: App\Model\Facades\UsersFacade