services:

	backupPresenter:
		class: App\FrontModule\Presenters\BackupPresenter
		setup:
			- setAuthorizator(@authorizator)

	helpPresenter:
		class: App\FrontModule\Presenters\HelpPresenter
		setup:
			- setEmails(%emails%)

	frontAccountPresenter:
		class: App\FrontModule\Presenters\AccountPresenter
		setup:
			- setEmails(%emails%)