services:

	backupPresenter:
		class: App\FrontModule\Presenters\BackupPresenter
		setup:
			- setEmails(%emails%)

	helpPresenter:
		class: App\FrontModule\Presenters\HelpPresenter
		setup:
			- setEmails(%emails%)

	itemPresenter:
		class: App\FrontModule\Presenters\ItemPresenter

	listingPresenter:
		class: App\FrontModule\Presenters\ListingPresenter

	# todo mailbox presenter

	mergePresenter:
		class: App\FrontModule\Presenters\MergePresenter

	frontAccountPresenter:
		class: App\FrontModule\Presenters\AccountPresenter
		setup:
			- setEmails(%emails%)

	usersPresenter:
		class: App\FrontModule\Presenters\UsersPresenter