services:

	listingsManager:
		class: App\Model\Services\Managers\ListingsManager

	listingItemsManager:
		class: App\Model\Services\Managers\ListingItemsManager

	messagesManager:
		class: App\Model\Services\Managers\MessagesManager