services:

	usersReader:
		class: App\Model\Services\Readers\UsersReader

	invitationsReader:
		class: App\Model\Services\Readers\InvitationsReader

	listingsReader:
		class: App\Model\Services\Readers\ListingsReader

	listingItemsReader:
		class: App\Model\Services\Readers\ListingItemsReader

	messagesReader:
		class: App\Model\Services\Readers\MessagesReader