services:

	authenticationSubscriber:
		class: App\Model\Subscribers\AuthenticationSubscriber
		tags: [kdyby.subscriber]

	invitationSubscriber:
		class: App\Model\Subscribers\InvitationSubscriber
		tags: [kdyby.subscriber]

	databaseBackupSubscriber:
		class: App\Model\Subscribers\DatabaseBackupSubscriber
		tags: [kdyby.subscriber]
		setup:
			- setEmails(%emails%)