services:

	authenticationSubscriber:
		class: App\Model\Subscribers\AuthenticationSubscriber
		tags: [kdyby.subscriber]

	invitationSubscriber:
		class: App\Model\Subscribers\InvitationSubscriber
		tags: [kdyby.subscriber]

	listingSubscriber:
		class: App\Model\Subscribers\ListingSubscriber
		tags: [kdyby.subscriber]

	listingsPDFCacheInvalidationSubscriber:
		class: App\Model\Subscribers\ListingsPDFCacheInvalidationSubscriber
		tags: [kdyby.subscriber]