services:

	monologSubscriber:
		class: App\Model\Subscribers\MonologSubscriber
		tags: [kdyby.subscriber]

	authenticationSubscriber:
		class: App\Model\Subscribers\AuthenticationSubscriber
		tags: [kdyby.subscriber]

	invitationSubscriber:
		class: App\Model\Subscribers\InvitationSubscriber
		tags: [kdyby.subscriber]

	listingSubscriber:
		class: App\Model\Subscribers\ListingSubscriber
		tags: [kdyby.subscriber]

	listingsPDFsFileInvalidationSubscriber:
		class: App\Model\Subscribers\ListingsPDFsFileInvalidationSubscriber
		tags: [kdyby.subscriber]