services:

	usersWriter:
		class: App\Model\Services\Writers\UsersWriter

	invitationsWriter:
		class: App\Model\Services\Writers\InvitationsWriter

	listingsWriter:
		class: App\Model\Services\Writers\ListingsWriter

	listingItemsWriter:
		class: App\Model\Services\Writers\ListingItemsWriter