{define col-l_year}
<td>
    {$row->l_year}
</td>
{/define}

{define col-l_month}
<td>
    {$row->l_month|monthNameByNumber}
</td>
{/define}


{define col-l_description}
<td>
    <a href="{plink Listing:detail, 'id' => $row->l_id}">
    {if $row->l_description}{$row->l_description}{else}Bez popisu{/if}</a>
</td>
{/define}


{define col-total_worked_hours}
<td>
    {(int)$row->total_worked_hours|toTimeWithComma:true}
</td>
{/define}


{define row-actions}
{? $currentDate = \DateTime::createFromFormat('!Y-m', date('Y-m'))}
{? $rowDate = \DateTime::createFromFormat('!Y-m', $row->l_year.'-'.$row->l_month)}

{if $rowDate != $currentDate}
    <a href="{plink Listing:remove, 'id'=>$row->l_id,
                                    'backlink'=>$presenter->storeRequest()}"
       class="btn-red btn-small" title="Odstranit výčetku">
       <i class="fa fa-fw fa-trash"></i> Odstranit</a>

    <a href="{plink Listing:copy, 'id'=>$row->l_id}"
       class="btn-copy btn-small" title="Vytvořit kopii výčetky">
       <i class="fa fa-fw fa-copy"></i> Kopie</a>
{/if}


    <a href="{plink Listing:edit, 'id'=>$row->l_id}"
       class="btn-blue btn-small" title="Upravit výčetku">
       <i class="fa fa-fw fa-edit"></i> Upravit</a>



{if $rowDate == $currentDate}
    <a href="{plink Item:edit, 'id'=>$row->l_id,
                               'day'=>date('j')}"
       class="btn-violet btn-small" title="Upravit výčetku">
       <i class="fa fa-fw fa-sliders"></i> Nastavit aktuální den</a>

{/if}
{/define}

{redefine table-open-tag}
    <table class="table t-classic t-overview">
{/redefine}