{layout '@messageBoxLayout.latte'}

{block userTypeLabel}<th>Odesílatel</th>{/block}
{block messageTimeLabel}<th>Přijato</th>{/block}

{define username}
{if $message['isSystemMessage'] === true}
    {*$message['author']['role']*}<b>SYSTÉM</b>
{elseif $message['sentByAuthorRole'] === true}
   {$message['authorName']} {l}<b>{$message['authorRole']|firstUpper}</b>{r}
{else}
    {$message['authorName']}
{/if}
{/define}

{block messagesList}
    {foreach $messages as $receivedMessage}
    {var $message = $receivedMessage['message']}
    <tr {include #class message => $message, isOdd => $iterator->isOdd()}>

        <td>{include #username}</td>

        <td>{$message['sent']|date:'j.n.Y v H:i'}</td>
        <td>
            <a href="{plink MailBox:message, 'id' => $receivedMessage['id'],
                                             'type' => App\Model\Domain\Entities\IMessage::RECEIVED}"
               title="{$message['subject']}">
                {$message['subject']|truncate:60}
            </a>
        </td>
        <td><a href="{plink MailBox:message, 'id' => $receivedMessage['id'],
                                             'type' => App\Model\Domain\Entities\IMessage::RECEIVED}">Přečíst zprávu</a></td>
        <td><a href="{link deleteMessage!, 'id' => $receivedMessage['id']}"
               class="ajax item">Odstranit</a></td>
    </tr>
    {/foreach}
{/block}