{layout '@messageBoxLayout.latte'}

{block userTypeLabel}{/block}
{block messageTimeLabel}<th>Odesláno</th>{/block}

{block messagesList}
    {foreach $messages as $message}
    <tr n:class="$message['isSystemMessage'] ? m-system-message : ($iterator->isOdd() ? null : m-odd)">

        <td>{$message['sent']|date:'j.n.Y v H:i'}</td>
        <td>
            <a href="{plink MailBox:message, 'id' => $message['id'],
                                             'type' => App\Model\Domain\Entities\IMessage::SENT}"
               title="{$message['subject']}">
                {$message['subject']|truncate:60}
            </a>
        </td>
        <td><a href="{plink MailBox:message, 'id' => $message['id'],
                                             'type' => App\Model\Domain\Entities\IMessage::SENT}">Prohlédnout</a></td>
        <td><a href="{link deleteMessage!, 'id' => $message['id']}"
               class="ajax item">Odstranit</a></td>
    </tr>
    {/foreach}
{/block}